[submodule "proxy-manager-frontend"]
	path = proxy-manager-frontend
	url = https://github.com/Aolda/proxy-manager-frontend.git
[submodule "proxy-manager-backend"]
	path = proxy-manager-backend
	url = https://github.com/Aolda/proxy-manager-backend.git
